* {
  margin: 0;
  padding: 0.1rem 0.25rem;
  box-sizing: border-box;
}
body {
  background: linear-gradient(#cccccc, #dddddd);
  height: 99vh;
  text-align: center;
  display: grid;
  justify-items: center;
}
p {
  margin: 0.5rem 0rem;
  text-align: start;
}
main {
  max-width: 50rem;
}
header {
  max-width: 50rem;
}
th,
tr,
td {
  border: solid 2px black;
  padding: 0.25rem 1rem;
}
th {
  background-color: rgb(160, 0, 0);
  color: rgb(255, 255, 255);
}
table {
  width: 100%;
  border-collapse: collapse;
}
button {
  margin: 1rem 0;
  padding: 1rem;
}
#table-guide {
  display: flex;
  width: 100vw;
  justify-content: center;
}
#ResultadoGame {
  background-color: #d1ff29;
  position: fixed;
  margin: -83vh -50vw;
  z-index: 1;
  width: 100vw;
  height: 100vh;
}
